body{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav{
    background-color: black;
    margin: 0;
    text-align: center;
}

header{
    align-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.537);
    padding: 50px 0px;
    color: white;
}

header h1{
    font-size: 70px;
}


nav li {
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.727);
    font-size: 1.3em;
}

nav li a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
}

nav li:hover{
    background-color: gray;
}

main {
    padding: 20px 50px;
    
}